@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --navbar-width: 350px;
  --navbar-height: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  font-size: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: var(--navbar-width);
  max-width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  height: var(--navbar-height);
  transition: width 1s ease;
}

.navbar.hidden {
  width: var(--navbar-height);
}

.navbar li {
  list-style: none;
  text-align: center;
  min-width: var(--navbar-height);
}

.navbar li a {
  text-decoration: none;
  color: black;
}

.nav-item,
.nav-toggle {
  position: relative;
  left: 0px;
  cursor: pointer;
  transition: left 1s ease, opacity 1s ease;
}

.navbar.hidden .nav-item {
  pointer-events: none;
  left: 200px;
  opacity: 0%;
}

.navbar.hidden .nav-toggle {
  left: calc(-2 * var(--navbar-height));
}

@media screen and (max-width: 300px) {
  :root {
    --navbar-width: 250px;
    --navbar-height: 40px;
  }
  body {
    font-size: 0.8rem;
  }
}
